/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Quicksand:wght@300;400;500&family=Roboto:wght@300;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Quicksand:wght@300;400;500&family=Roboto:wght@300;500;700&family=Rock+Salt&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  /*background-color: #EBECEE;*/
}

/* SINGIN*/

body {
  /*margin: 10px 20px;
    padding: 10px 20px;*/
  background-image: url("https://res.cloudinary.com/dn73thusg/image/upload/v1670776725/Final-Project/fondo_azul_claro_ovfgd9.jpg");
  margin-bottom: 80px;
  background-size: cover;

}

.flex-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

h3 {
  padding: 10px 0;
  font-family: "Rock Salt", cursive;
}

#image-zen {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0;
  background-image: 0 10px 10px 0 rgba(202, 45, 45, 0);
 /* filter: brightness(1.1);
  mix-blend-mode: multiply;*/
 
}



.header-title {
  margin: 60px 50px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /*color: #c3bcbc;*/
}

.form-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.form-signUp {
  background-color: #9e99cd;
  padding: 71px;
  border-radius: 10px;
}

.form {
  /*margin-top: 10px;*/
  background-color: #9e99cd;
  padding-top: 72.5px;
  padding-right: 72.5px;
  padding-bottom: 72.5px;
  padding-left: 72.5px;
  border-radius: 10px 0px 0px 10px;
}

.input-field-label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0;
}

.button-login {
  color: #fafafa;
  margin: 20px 20px 20px 0;
  padding: 5px 20px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #e94d4d;
  cursor: pointer;
}

.input-field {
  padding: 5px 60px 5px 0;
  border-radius: 10px;
}

/*SIGNUP*/

.header-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Rock Salt", cursive;
}

.button-signup {
  color: #fafafa;
  margin: 20px 20px 20px 0;
  padding: 5px 20px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #e94d4d;
  cursor: pointer;
}

/* estils per les tasques*/



.nav-home {
  text-decoration: none;
  font-weight: bold;
  color: #c3bcbc;
  font-size: 1.2rem;
  padding: 30px 20px;
}

.hamburger {
  border: #5a88d2;
}

.button-logout {
    display: flex;
    color: #fafafa;
    margin:  20px 20px 20px 0;;
    padding: 5px 20px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #E94D4D;
    cursor: pointer;
}

.welcome {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}

.add {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 30px 0;
  font-family: "Rock Salt", cursive;
}

.input-field-task {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  margin-bottom: 20px;
  
}

.input-field-task input {
  padding: 20px;
  border-radius: 10px;
  border: #5a88d2;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
}

.input-field-task-descript {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  margin-bottom: 20px;
}

.input-field-task-descript input  {
    padding: 20px;
    border-radius: 10px;
    border: #5a88d2;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.button-add {
  color: #fafafa;
  margin: 20px 20px 20px 70%;
  padding: 5px 30px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #e94d4d;
  font-size: 1.5rem;
  cursor: pointer;
  /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.title-task {
  font-size: 1.5rem;
  margin-left: 25%;
}

.buttons-change {
  color: #fafafa;
  margin: 20px 20px 20px 0;
  padding: 5px 20px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #e94d4d;
  cursor: pointer;
}

.button-delete {
  color: #e94d4d;
  margin: 20px 20px 20px 0;
  padding: 5px 20px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #1d1919;
  cursor: pointer;
}

.allTasks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px;
  flex-wrap: wrap;
}

.tasks {
  border: 1px solid;
  border-radius: 10px;
  border-color: #1d1919;
  padding: 20px;
  margin: 40px 10px;
  background-image: url("https://res.cloudinary.com/dn73thusg/image/upload/v1670781056/Final-Project/cemento_pulido_tcdzx3.webp");
}

.input-description {
  margin-right: 20px;
}

/* FOOTER STYLE */

.footer {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media screen and (max-width: 750px) {

 /* BURGER MENU */


 #container-fluid {
   flex-direction: row;
   background-color: #1d1919;
   
 }

 .nav-home{
  color: #5a88d2;
 }

 .welcome {
  color: #c3bcbc;
 }
 
 .hamburger {
  margin-top: 10px;
  width: 45px;
  height: 45px;
  background-color: #5a88d2;
  border-radius: 4px;
  cursor: pointer;
}
.hamburger__line,
.hamburger__middle {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #c3bcbc;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

.hamburger__middle {
  width: 20px;
  margin-left: 12px;
}

.dropdown {
  margin-top: -20px;
  height: 0px;
  background-color: lightgreen;
  transition: height 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dropdown-after {
  height: calc(100vh - 50px);
  transition: height 0.2s ease;
}

.navlist {
  list-style: none;
}

.navlistitem {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

}